<%= form_with(model: commercial) do |form| %>
  <% if commercial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commercial.errors.count, "error") %> prohibited this commercial from being saved:</h2>

      <ul>
        <% commercial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :file_path %>
    <%= form.text_field :file_path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
