<p id="notice"><%= notice %></p>

<h1>Commercials</h1>

<%= button_to "Re-scan", rescan_commercials_path %>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Title</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commercials.each do |commercial| %>
      <tr>
        <td><%= commercial.subject %></td>
        <td><%= commercial.title %></td>
        <td><%= commercial.duration %></td>
        <td><%= link_to 'Show', commercial %></td>
        <td><%= link_to 'Edit', edit_commercial_path(commercial) %></td>
        <td><%= button_to 'Destroy', commercial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commercial', new_commercial_path %>
