<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @commercial.title %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @commercial.subject %>
</p>

<p>
  <strong>File path:</strong>
  <%= @commercial.file_path %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @commercial.duration %>
</p>

<%= link_to 'Edit', edit_commercial_path(@commercial) %> |
<%= link_to 'Back', commercials_path %>
