!!!
%html
  %head
    %title='ProgramGuide'
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag '/assets/stylesheets/application.css', media: 'all'

  %body
    #application
      #header
        .logo
          = link_to(image_tag('/assets/images/logo.svg'), '/')
        .title
          Program Guide/Scheduler
        %ul.navigation
          %li= link_to('Shows', shows_path)
          %li= link_to('Commercials', commercials_path)
      #content
        #channel-selector
          %ul
            - Channel.order(:number).each do |channel|
              %li
                %a{href: channel_path(channel)}
                  - channel_selected = params[:channel_id] == channel.id.to_s || (params[:controller] == 'channels' && params[:id] == channel.id.to_s)
                  .channel{class: channel_selected ? 'active': ''}
                    %span.number= channel.number
                    %span.short-name= channel.short_name.upcase
            %li
              %a{href: new_channel_path}
                .channel
                  +
        #container
          = yield
